{% extends 'base2.html' %}
{% load staticfiles %}

{% block body %}

<div class='container'>


	<div class='row'>
		<div class='col-sm-6'>
			<h1 class='courseh2'>ABOUT KOT</h1>
			<p>Kot for Training and Consultation is a private institute headquartered in Kuwait.  It provides high quality services in the field of human development (Training, leadership and consultation).</p>
      </br>
 
			<h3 class='courseh2'>VISION</h3>
			<p>Pioneering and achieving excellence in training and development at the national and international levels.</p>
      </br>

			<h3 class='courseh2'>THE MISSION</h3>
   		     	<p>Our mission is to provide pioneer and excellent services in training, consultation and development for all sections of society.</p>
            </br>
		     
      <h3 class='courseh2'>OUR VALUES</h3>
            <p>Excellence—Partnership—Creativity—High Quality</p>
            </br>
      
      <h3 class='courseh2'>OUR SPECIALITIES</h3>

        
        <h4>-Leadership Development and Public Speaking:</h4>
            <p>    Building superior skills of effective public speaking, leadership and communication to excel in any work community.</p>
          
          </br>
       
        <h4>-Consultation</h4>
            <p>    Providing effective consultation services in all walks of life.</p>
           
            </br>

       
        <h4>-Academic Achievement</h4>
            <p>    Developing core competence necessary for outstanding academic achievement.</p>
            
            </br>
      
                  
      </div>
		
    <div class='col-sm-6'>

    <h3 class='courseh2 align-center'>K.O.T. EXECUTIVE AND HOME OFFICE STAFF</h3>

    <img src='{% static "images/aboutus/taleb.jpeg" %}' class="img-responsive img-circle align-center"> </div>
    
  <h4>Dr. Mohammad Taleb Alkandari</h4>
        <p class='bio'>Associate Professor Chairman of Board of Director - Doctor of Philosophy, Syracuse University - Master of Science, Syracuse University - Bachelor of Education, Kuwait - Diploma of Education, Kuwait. Dr. AlKandari has served for three consecutive years as Head of speech and debate coaching team in the Public Authority for Applied Education and Training (PAAET), competing in Kuwait Debate National Tournament for Higher Education Institutions. Over the three years PAAET Speech and Debate Team has risen to glory and won the national championship in 2016.</p>

   	
    <img src='{% static "images/aboutus/yousef.jpeg" %}' class="img-responsive align-center img-circle">
        <h4>Yousef Al-Zowayed</h4>
        <p class='bio'>Mr. Al-Zowayed has 31 years of experience in teaching in Kuwaiti public schools. He is founder and secretary of the former Kuwaiti Society for Parents of the Disabled and member and Director of the committees of Alreyadah Center and director of Leadership Development at Kuwaiti Teacher Association. He is also member of the Gulf Disability Society and recipient of several internal and external certifications in the field of disability and special needs.</p>


<img src='{% static "images/aboutus/abdulaziz.jpeg" %}' class="img-responsive align-center img-circle">
   			<h4>Dr. Abdulaziz Alkandari</h4>
   			<p class='bio'>Received his PhD degree in Information System and Technology from University of Salford, UK- Master of Science-Information Management-Information Studies School-Syracuse University. During his PhD years, he served as member in the Think Lab, where he conducted extensive research on technology-enhanced learning.</p>


		</div>
    <div></div>

	</div> <!-- close row -->
</div>   <!-- close container -->



{% endblock %}