{% extends 'base2.html' %}
{% load staticfiles %}

{% block body %}

<div class='container'>
<div class='col-sm-12'>
  <h1 class='courseh2' style = "text-align: center">Our Team</h1>
  </br>
  <p>The pursuit of excellence is central to K.O.T.'s mission, and we maintain high standards of achievement.  To advance this mission, our highly-qualified team members provide the instruction and practice to make the training experience productive and effective.</p>
  </br>
  <h3>DIRECTORS OF TRAINING PROGRAMS</h3>
</br>
<h1 class='courseh2'>* Administration and Leadership Program</h1>

</div>
	<div class='row'>
  	<div class='col-sm-2'>
      <img src='{% static "images/aboutus/taleb.jpeg" %}' class="img-responsive align-center"> 
    </div>
    <div class='col-sm-10'>
      <h3 class='courseh2 uplign'>Dr. Issa Al-Kandari</h3>
      <p>Kot for Training and Consultation is a private institute headquartered in Kuwait.  It provides high quality services in the field of human development (Training, leadership and consultation).</p>
    </div>
	</div> <!-- close div row -->

</br>
<div class='row'>
    <div class='col-sm-2'>
      <img src='{% static "images/aboutus/taleb.jpeg" %}' class="img-responsive align-center"> 
    </div>
    <div class='col-sm-10'>
      <h3 class='courseh2 uplign'>Dr. Nouf Albheiri</h3>
      <p>Kot for Training and Consultation is a private institute headquartered in Kuwait.  It provides high quality services in the field of human development (Training, leadership and consultation).</p>
    </div>
  </div> <!-- close div row -->
  
  </br>
<div class='row'>
    <div class='col-sm-2'>
      <img src='{% static "images/aboutus/taleb.jpeg" %}' class="img-responsive align-center"> 
    </div>
    <div class='col-sm-10'>
      <h3 class='courseh2 uplign'>Ms. Mariam</h3>
      <p>Kot for Training and Consultation is a private institute headquartered in Kuwait.  It provides high quality services in the field of human development (Training, leadership and consultation).</p>
    </div>
  </div> <!-- close div row -->


</br>
<h1 class='courseh2'>* Family and Childhood Program</h1>

  <div class='row'>
    <div class='col-sm-2'>
      <img src='{% static "images/aboutus/taleb.jpeg" %}' class="img-responsive align-center"> 
    </div>
    <div class='col-sm-10'>
      <h3 class='courseh2 uplign'>Dr. Talal Al-Misaad</h3>
      <p>Kot for Training and Consultation is a private institute headquartered in Kuwait.  It provides high quality services in the field of human development (Training, leadership and consultation).</p>
    </div>
  </div> <!-- close div row -->



</br>
<h1 class='courseh2'>* Public Speaking Program</h1>

  <div class='row'>
    <div class='col-sm-2'>
      <img src='{% static "images/aboutus/taleb.jpeg" %}' class="img-responsive align-center"> 
    </div>
    <div class='col-sm-10'>
      <h3 class='courseh2 uplign'>Dr. Khaled Shuqair</h3>
      <p>Kot for Training and Consultation is a private institute headquartered in Kuwait.  It provides high quality services in the field of human development (Training, leadership and consultation).</p>
    </div>
   </div> <!-- close div row -->
 
  <div class='row'>
    <div class='col-sm-2'>
      <img src='{% static "images/aboutus/taleb.jpeg" %}' class="img-responsive align-center"> 
    </div>
    <div class='col-sm-10'>
      <h3 class='courseh2 uplign'>Dr. Jamal Buresly</h3>
      <p>Kot for Training and Consultation is a private institute headquartered in Kuwait.  It provides high quality services in the field of human development (Training, leadership and consultation).</p>
    </div>

  </div> <!-- close div row -->



</br>
<h1 class='courseh2'>* Training the Trainer Program</h1>

  <div class='row'>
    <div class='col-sm-2'>
      <img src='{% static "images/aboutus/taleb.jpeg" %}' class="img-responsive align-center"> 
    </div>
    <div class='col-sm-10'>
      <h3 class='courseh2 uplign'>Ms. Mariam</h3>
      <p>Kot for Training and Consultation is a private institute headquartered in Kuwait.  It provides high quality services in the field of human development (Training, leadership and consultation).</p>
    </div>
</div> <!-- close div row -->

  <div class='row'>
    <div class='col-sm-2'>
      <img src='{% static "images/aboutus/taleb.jpeg" %}' class="img-responsive align-center"> 
    </div>
    <div class='col-sm-10'>
      <h3 class='courseh2 uplign'>Dr. Nouf Al-Bheiri </h3>
      <p>Kot for Training and Consultation is a private institute headquartered in Kuwait.  It provides high quality services in the field of human development (Training, leadership and consultation).</p>
    </div>

  </div> <!-- close div row -->


</br>
<h1 class='courseh2'>* Teacher and School Administration Program </h1>

  <div class='row'>
    <div class='col-sm-2'>
      <img src='{% static "images/aboutus/taleb.jpeg" %}' class="img-responsive align-center"> 
    </div>
    <div class='col-sm-10'>
      <h3 class='courseh2 uplign'>Ms. Mariam </h3>
      <p>Kot for Training and Consultation is a private institute headquartered in Kuwait.  It provides high quality services in the field of human development (Training, leadership and consultation).</p>
    </div>
    </div> <!-- close div row -->


  <div class='row'>
    <div class='col-sm-2'>
      <img src='{% static "images/aboutus/taleb.jpeg" %}' class="img-responsive align-center"> 
    </div>
    <div class='col-sm-10'>
      <h3 class='courseh2 uplign'>Dr. Nouf Al-Bheiri</h3>
      <p>Kot for Training and Consultation is a private institute headquartered in Kuwait.  It provides high quality services in the field of human development (Training, leadership and consultation).</p>
    </div>

  </div> <!-- close div row -->













</div>  <!-- close div container -->



 
  
{% endblock %}